* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgba(221, 219, 219, 0.603);
}

.error404 {
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.error404 .error404__contenedor {
  height: 50%;
  width: 100%;
  background: linear-gradient(white, #73fa73, #027e02, #73fa73, white);
}
.error404 .error404__contenedor .error404__contenedoresFila1 {
  height: 80%;
  min-height: 200px;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorImagen {
  text-align: right;
  padding-right: 50px;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorImagen .error404__imagen {
  font-size: 10em;
  color: black;
  animation-name: cambiarColor;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto {
  text-align: left;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafoPagina {
  padding-left: 15px;
  margin-bottom: 0px;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafo404 {
  font-size: 7.5em;
  font-family: fantasy;
  color: cornflowerblue;
  margin-bottom: 0px;
  line-height: 100px;
}
.error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafoError {
  font-size: 2.1em;
  color: crimson;
  padding-left: 60px;
  margin-bottom: 0px;
}
.error404 .error404__contenedor .error404__contenedoresFila2 {
  height: 20%;
  min-height: 30px;
  border-top: black 1px solid;
}
.error404 .error404__contenedor .error404__contenedoresFila2 .error404__contenedorEnlace .error404__enlace {
  text-decoration: none;
}
.error404 .error404__contenedor .error404__contenedoresFila2 .error404__contenedorEnlace .error404__enlace:hover {
  opacity: 0.5;
}

@keyframes cambiarColor {
  0% {
    color: black;
    transform: rotate(0deg);
  }
  20% {
    color: cornflowerblue;
    transform: rotate(72deg);
  }
  40% {
    color: crimson;
    transform: rotate(144deg);
  }
  60% {
    color: black;
    transform: rotate(216deg);
  }
  80% {
    color: cornflowerblue;
    transform: rotate(288deg);
  }
  100% {
    color: crimson;
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .error404 .error404__contenedor {
    height: 70%;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorImagen {
    padding: 10px 0px;
    text-align: center;
    width: 100%;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorImagen .error404__imagen {
    font-size: 5em;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto {
    text-align: center;
    width: 100%;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafoPagina {
    padding-left: 0px;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafoError {
    padding-left: 0px;
    font-size: 2em;
    line-height: 30px;
  }
  .error404 .error404__contenedor .error404__contenedoresFila1 .error404__contenedorTexto .error404__parrafo404 {
    font-size: 5em;
    line-height: 80px;
  }
  .error404 .error404__contenedor .error404__contenedoresFila2 {
    height: 25px;
  }
  .error404 .error404__contenedor .error404__contenedoresFila2 .error404__contenedorEnlace .error404__listadoEnlace {
    margin: 0px;
    padding: 0px;
  }
}

/*# sourceMappingURL=error404.css.map */
