.flecha{
    background-color: blue;
}

.carousel-item img{
    width: 100%;
    height: 300px
}

.centradoPrecio{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.precio{
    color: rgb(0, 80, 0);
    font-weight: bold;
    background-color: white;
    width: 100px;
    font-size: 15px;
}

.carousel-indicators .indicador{
    width: 15px;
    height: 10px;
    background-color: blue;  
    border-radius: 40%;  
}

@media (max-width:576px){
    .carousel-inner img{
        width: 100%;
        height: 140px;
    }
}