* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  background-image: url("../Imagenes/Fondo1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.encabezado {
  width: 100%;
  height: 100vp;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}
.encabezado .encabezado__titulo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  color: white;
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 5px;
  word-spacing: 10px;
  text-align: center;
  font-family: "Kumar One", cursive;
}
.encabezado .encabezado__titulo .encabezado__contenedorTitulo {
  animation-name: titulo;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
.encabezado .encabezado__titulo .encabezado__contendorEnlaces {
  display: flex;
  flex-flow: row nowrap;
  width: 20px;
}
.encabezado .encabezado__titulo .encabezado__contendorEnlaces .encabezado__enlace .encabezado__redes {
  height: 18px;
  width: 18px;
  font-size: 18px;
  color: #004400;
}
.encabezado .encabezado__titulo .encabezado__contendorEnlaces .encabezado__enlace:hover {
  opacity: 0.7;
}

@keyframes titulo {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.inicial {
  padding-left: 10px;
}

.piePagina {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: right;
}
.piePagina .piePagina__contenedor {
  width: 98%;
}
.piePagina .piePagina__contenedor .piePagina__separadores {
  border: 1px #004400 solid;
  margin: 2px;
}
.piePagina .piePagina__contenedor .piePagina__enlace .piePagina__redes {
  height: 32px;
  width: 32px;
  font-size: 32px;
  color: #004400;
}
.piePagina .piePagina__contenedor .piePagina__enlace:hover {
  opacity: 0.7;
}

section, article {
  margin: 10px;
}

.encabezado__menu {
  width: 100%;
  padding-top: 10px;
  height: 60px;
  display: flex;
  flex-flow: nowrap row;
}
.encabezado__menu .encabezado__logo {
  width: 100px;
  height: 60px;
  float: left;
}
.encabezado__menu .encabezado__logo .encabezado__imagen {
  width: 95px;
  height: 60px;
  padding-left: 0;
}
.encabezado__menu .encabezado__logo .encabezado__imagen:hover {
  transform: scale(1.3);
}

.encabezado__contenedorNaveg {
  width: 100%;
  height: 60px;
  background-color: #004400;
  padding-left: 10px;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg {
  font-size: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: -1px;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
  font-size: 25px;
  line-height: 60px;
  position: relative;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg a {
  color: #73fa73;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  font-family: initial;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg a:hover {
  color: white;
  border: solid #73fa73 3px;
  padding: 7px;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg .encabezado__barraNaveg {
  position: absolute;
  display: none;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
  font-size: 12px;
  line-height: 30px;
  background-color: grey;
  padding: 5px;
  margin: 0px 15px;
  text-align: center;
  width: 80px;
}
.encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg:hover ul {
  display: block;
}

h1 {
  color: #004400;
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 5px;
  opacity: 1;
}

h2 {
  color: #061c99;
  font-weight: bold;
  font-size: 30px;
}

li {
  list-style-type: none;
}

hr {
  border: 2px solid #004400;
  opacity: 1;
  margin: 5px 0px 10px 0px;
}

@media only screen and (max-width: 1024px) {
  .encabezado .encabezado__titulo {
    font-size: 40px;
    line-height: 60px;
  }

  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
    font-size: 23px;
  }
}
@media only screen and (max-width: 768px) {
  .encabezado__menu {
    height: 60px;
    vertical-align: bottom;
  }

  .encabezado__contenedorNaveg {
    margin: 0px 0px;
    line-height: 60px;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
    font-size: 15px;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
    font-size: 10px;
    line-height: 26px;
    background-color: #360172;
    text-align: center;
    margin: 0px 4px;
    width: 70px;
  }

  .encabezado .encabezado__titulo {
    font-size: 30px;
    line-height: 50px;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .encabezado {
    display: inline-block;
    width: 20%;
    height: 100vh;
  }
  .encabezado .encabezado__titulo {
    display: none;
  }

  .encabezado__menu {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-flow: column nowrap;
    position: sticky;
    top: 10px;
  }
  .encabezado__menu .encabezado__logo {
    width: 100%;
    height: auto;
  }
  .encabezado__menu .encabezado__logo .encabezado__imagen {
    width: 100%;
    height: auto;
  }

  .encabezado__contenedorNaveg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    padding-top: 0px;
    padding-left: 5px;
    width: 100%;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: start;
    margin: 0px;
    padding-left: 0px;
    height: auto;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg {
    padding-left: 0px;
    margin: 0px;
    width: 90%;
    height: 45px;
    line-height: 45px;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg a {
    width: 100%;
    height: auto;
    font-size: 2.5vw;
    font-weight: bold;
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg a:hover {
    color: white;
    border: solid white 0px;
    padding: 0px;
  }
  .encabezado__contenedorNaveg .encabezado__barraNaveg .encabezado__itemBarraNaveg:hover ul {
    display: none;
  }

  h1 {
    font-size: 1em;
  }
}

/*# sourceMappingURL=estilosCompartidos.css.map */
