.inicioPersonal {
  margin: 20px;
}

.personal {
  width: 99%;
  display: grid;
  grid-template-rows: 1fr, 2fr, 2fr, 2fr, 2fr;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
.personal .personal__titulo {
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: start;
}
.personal .personal__personas {
  width: 95%;
  border: white 3px double;
  padding-bottom: 10px;
  padding-top: 10px;
  grid-column-start: 2;
  grid-column-end: 7;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.personal .personal__personas .personal__contenedorImagen {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}
.personal .personal__personas .personal__contenedorImagen .personal__imagen {
  width: 100px;
  height: 100px;
}
.personal .personal__personas .personal__descripcion {
  width: 82%;
  padding-right: 1%;
  padding-left: 1%;
  display: flex;
  flex-flow: column;
  text-align: justify;
  justify-content: center;
}
.personal #persona1, .personal #persona3 {
  grid-column-start: 1;
  grid-column-end: 6;
}
.personal #persona2 .personal__contenedorImagen, .personal #persona4 .personal__contenedorImagen {
  order: 2;
}
.personal #persona2 .personal__descripcion, .personal #persona4 .personal__descripcion {
  order: 1;
}

@media only screen and (max-width: 1024px) {
  .personal .personal__personas {
    justify-content: center;
  }
  .personal .personal__personas .personal__descripcion {
    width: 80%;
  }
  .personal #persona1, .personal #persona3, .personal #persona2, .personal #persona4 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}
@media only screen and (max-width: 768px) {
  .personal .personal__personas .personal__descripcion {
    width: 90%;
    order: 2;
  }
  .personal .personal__personas .personal__descripcion h2 {
    font-size: 25px;
  }
  .personal .personal__personas .personal__descripcion h3 {
    font-size: 15px;
  }
  .personal .personal__personas .personal__descripcion p {
    font-size: 13px;
    margin-top: 2px;
  }
  .personal #persona1 .personal__contenedorImagen, .personal #persona2 .personal__contenedorImagen, .personal #persona3 .personal__contenedorImagen, .personal #persona4 .personal__contenedorImagen {
    order: 1;
  }
}
@media only screen and (max-width: 600px) {
  .encabezado {
    height: 500px;
  }

  .inicioPersonal {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    margin: 0px;
  }

  .personal .personal__personas {
    margin-top: 30px;
  }
  .personal .personal__personas .personal__descripcion {
    width: 50%;
    text-align: center;
  }
  .personal .personal__personas .personal__descripcion h2 {
    font-size: 16px;
  }
  .personal .personal__personas .personal__descripcion p {
    display: none;
  }
  .personal #persona2 .personal__contenedorImagen, .personal #persona4 .personal__contenedorImagen {
    order: 2;
  }
  .personal #persona2 .personal__descripcion, .personal #persona4 .personal__descripcion {
    order: 1;
  }
}

/*# sourceMappingURL=personal.css.map */
