$colorFondo: rgb(115, 250, 115);
$colorRedesSeparadores: rgb(0, 68, 0);
$colorTexto: white;

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body{
    background-image: url("../Imagenes/Fondo1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.inicial {
    padding-left:10px;
}

.piePagina{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: linear-gradient(45deg, $colorRedesSeparadores, $colorTexto);
    padding: 5px 0px 5px 5px;

    .piePagina__contenedor{
        width: 98%;
        height: 36px;

        .piePagina__contenedorTexto{
            display: flex;
            flex-flow: row nowrap;
            justify-content:flex-end;
            align-items: center;

            .piePagina__texto{
                color: black;
                font-weight: bold;
                padding-right: 10px;
                font-size: 1em;
                line-height: 32px;
                height: 16px;
            }

            .piePagina__enlace{

                .piePagina__redes{
                    height: 32px;
                    width: 32px;
                    font-size: 2em;
                    color: $colorRedesSeparadores;
                }
            }
        }

        .piePagina__enlace:hover{
            opacity: 0.7;
        }
    }
}

section, article {
    margin:10px;    
}    

.encabezado__menu{
    width: 100%;
    padding-top: 10px;
    height: 60px;
    display: flex;
    flex-flow: nowrap row;


    .encabezado__logo{
        width: 100px;
        height: 60px;
        float: left;
        animation-name: movimiento;
        animation-delay: 0s;
        animation-duration: 4s;
        animation-iteration-count: 2;

        .encabezado__imagen{
            width: 95px;
            height: 60px;
            padding-left: 0;
        }

        .encabezado__imagen:hover{
            transform: scale(1.3);
        }
    }
} 

@keyframes movimiento{
    0%{
        transform: translate(0px, -15px);
    }
    25%{
        transform: translate(0px, 15px);
    }
    50%{
        transform: translate(0px, -10px);
    }
    75%{
        transform: translate(0px, 10px);
    }
    100%{
        transform: translate(0px, 0px);
    }
}

.encabezado__contenedorNaveg { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    width: 100%;
    height: 60px;
    background-color: $colorRedesSeparadores;
    padding-left: 10px;
    
    .encabezado__barraNaveg{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 0px;
        margin-top: -1px;
        height: 60px;
 
        .encabezado__itemBarraNaveg{
            font-size: 1.5em;
            line-height: 60px;
            height: 60px;
            position: relative;

            a {
                color: $colorFondo;
                text-transform: uppercase;
                text-decoration: none;
                padding: 10px;
                font-family:initial;
            }

            a:hover {
                color: white;
                border: solid $colorFondo 3px;
                padding: 7px;
            }

            .encabezado__barraNaveg{
                position: absolute;
                display:none;

                .encabezado__itemBarraNaveg{
                    font-size: 0.5em;
                    line-height: 30px;
                    background-color: grey;
                    padding: 5px;
                    margin: 0px 14px;   
                    text-align: center;
                    width:80px;
                    height: 40px;

                    a{
                        color: white;
                    }

                    a:hover{
                        color: $colorFondo;
                        border-color: $colorFondo;
                    }
                }
            }
        }
        .encabezado__itemBarraNaveg:hover ul{
            display: block;
        }         
    }

    .encabezado__titulo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: $colorTexto;
        font-size: 1.5em;
        line-height: 60px;
        font-weight: bold;    
        letter-spacing: 1px;
        
        font-family: 'Kumar One', cursive;
        width:240px;
    
        .encabezado__contenedorTitulo{
            animation-name: titulo;
            animation-duration: 5s;
            animation-delay: 2s;
            animation-iteration-count: infinite;
            animation-timing-function:ease-out;
        }
    
        .encabezado__contendorEnlaces{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            width: 30px;
            height: 60px;
            line-height: 20px;
    
            .encabezado__enlace{
               
                .encabezado__redes{
                    height: 15px;
                    width: 15px;
                    font-size: 0.65em;
                    color: $colorFondo;
                }
            }
    
            .encabezado__enlace:hover{
                opacity: 0.7;
            }
        }
    }
}    

@keyframes titulo {
    0%{
        opacity: 0.1;
    }
    
    20%{
        opacity: 0.3;
    }

    40%{
        opacity: 0.5;
    }

    60%{
        opacity: 0.7;
    }

    80%{
        opacity: 0.9;
    }

    100%{
        opacity: 1;
    }
}

h1 {
    color:$colorRedesSeparadores;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: 1;
}

h2 {
    color:$colorTexto;
    font-weight: bold;
    font-size: 2em;  
}

li{
    list-style-type: none;
} 

hr{
    border: 2px solid $colorRedesSeparadores;
    opacity: 1;
    margin: 5px 0px 10px 0px;
}

@media only screen and (max-width: 1024px){

    .encabezado__menu{

        .encabezado__logo{
            width: 80px;

            .encabezado__imagen{
                width: 80px;
            }
        }
    }

    .encabezado__contenedorNaveg{

        .encabezado__barraNaveg{

            .encabezado__itemBarraNaveg{
                font-size: 1em;

                .encabezado__barraNaveg{
                    position: absolute;
                    display:none;
    
                    .encabezado__itemBarraNaveg{
                        margin: 0px 0px;
                        font-size: 0.65em;
                    }
                }
            }
        }
        
        .encabezado__titulo {
            font-size: 1.1em;
            width: 170px;  

            .encabezado__contendorEnlaces{
                width: 18px;
            
                .encabezado__enlace{
                    
                    .encabezado__redes{
                        height: 13px;
                        width: 13px;
                        font-size: 0.75em;
                    }
                }
            
            }
        }
    }   
}

@media only screen and (max-width: 768px){

    .encabezado__menu{
        height: 60px;
        vertical-align: bottom;
    }

    .encabezado__contenedorNaveg{
        margin: 0px 0px;
        padding-left: 3px;
        line-height: 60px;

        .encabezado__barraNaveg{
            
            .encabezado__itemBarraNaveg{
                font-size: 0.70em;

                a{
                    padding: 10px;
                }

                .encabezado__barraNaveg{

                    .encabezado__itemBarraNaveg{
                        font-size: 0.75em;
                        line-height: 26px;
                        text-align: center;
                        margin: 0px 2px;
                        width: 60px;
                        height: 32px;

                        a{
                            padding: 5px;
                            margin: 0px 0px;
                        }
                    }
                }
            }
        }

        .encabezado__titulo{
            font-size: 0.80em;
            width: 130px;

            .encabezado__contendorEnlaces{
            
                .encabezado__enlace{
                    
                    .encabezado__redes{
                        height: 15px;
                        width: 15px;
                        font-size: 1em;
                    }
                }
            
            }
        }
    }
    
    .piePagina{
    
        .piePagina__contenedor{
    
            .piePagina__contenedorTexto{
                
               .piePagina__texto{
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
  
    .encabezado{
        display: inline-block;
        width: 20%;
        height: 100vh;
        
        .encabezado__titulo{
            display: none;
        }
    }

    .encabezado__menu{
        width: 100%;
        margin: 0px;
        padding-top: 0px;
        padding-left: 0px;
        display: flex;
        flex-flow: column nowrap;
        position: sticky;
        top: 10px;

        .encabezado__logo{
            width: 100%;
            height: auto;
    
            .encabezado__imagen{
                width: 100%;
                height: auto;
            }
        }
    }

    .encabezado__contenedorNaveg {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        padding-top: 0px;
        padding-left: 5px;
        width: 100%;
    
        .encabezado__barraNaveg{
            width: 90%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            text-align: start;
            margin: 0px;
            padding-left:0px;
            height: auto;

        
            .encabezado__itemBarraNaveg{
                padding-left: 0px;
                margin: 0px;
                width: 90%;
                height: 45px;
                line-height: 45px;    

                a{
                    width: 100%;
                    height: auto;
                    font-size: 2.5vw;
                    font-weight: bold;
                    padding: 0px;
                    padding-left: 0px;
                    margin: 0px;
                }

                a:hover {
                    color:white;
                    border: solid white 0px;
                    padding: 0px;
                }
            }

            .encabezado__itemBarraNaveg:hover ul{
                display: none;
            }
        }
    }

    h1{
        font-size: 1em;
    }

    .piePagina{

        .piePagina__contenedor{
            
            .piePagina__contenedorTexto{

               .piePagina__texto{
                    font-size: 0.6em;
                    line-height: 1.2em;
                    height: 1em;
                }
            }
        }
    }
}