$colorFondo: rgb(115, 250, 115);
$colorRedesSeparadores: rgb(0, 68, 0);
$colorTexto: white;

.inicial{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 80vp;
}

.principal {
    display: flex;
    flex-basis: 75%;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;

    .principal__presentacion{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .principal__tituloPresentacion{
            width: 100%;
        }

        .principal__imagenPresentacion {
            width: 45%;
            height: 200px;  
            display: inline-block;
        }

        .principal__parrafoPresentacion{
            flex-basis: 50%;
            max-width: 100%;
            text-align: justify;
            line-height: 25px;
            font-size: 1.5em;
            display: inline-block;

            .principal__tituloParrafo{
                color: $colorTexto;
                font-weight: bold;
                font-size: 1.7em;
                font-family: 'Kumar One', cursive;
            }
        }
    }

    .principal__prodDestacados{
        width: 60%;
    
        .principal__verMas {
            border: 0px;
            color: $colorTexto;
            font-weight: bold;
            text-align: center;
            font-size: 1.2em;
            height: 40px;
            vertical-align: bottom;
            padding: 8px 0px;
            text-decoration: none;
        }
        
        .principal__verMas a:hover{
            color: $colorTexto;
            opacity: 0.7;
        }
    }
}

.experiencias {
    margin-top: 20px;
    margin-right: 10px;
    flex-basis: 25%;
    flex-grow: 1;

    .experiencias__contenedor{
        position: sticky;
        top: 3%;

        .experiencias__listado{
            padding-left: 5px;
            padding: 5px;
            margin-right: 5px;

            .experiencias__listadoItems{
                border: dashed 4px $colorTexto;
                border-radius: 5%;
                margin: 10px;
                padding: 10px;
                font-size: 1.25em;
                line-height: 28px;
                background-color: $colorRedesSeparadores;
                animation-name: bordeado;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
                animation-duration: 1s;
            
                .experiencias__nombre{
                    color: $colorTexto;
                    font-weight: bold;
                    text-align: center;
                }
                
                .experiencias__descripcion{
                    color:$colorFondo;
                    text-align: justify;
                }
            }   
        }
    }
}

@keyframes bordeado{
    0%{
        border-style:dashed;
    }
    100%{
        border-style: dotted;
    }
}

@media only screen and (max-width: 1024px){
    .principal{
        
        .principal__presentacion{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;

            .principal__tituloPresentacion{
                width: 100%;
            }

            .principal__imagenPresentacion {
                width: 90%;
                height: 150%; 
                display: block;
                margin-bottom: 10px;
            }

            .principal__parrafoPresentacion{
                .principal__tituloParrafo--tamaño{
                    font-size: 1.5em;
                }
            }
        }
    }

    .experiencias {
    
        .experiencias__contenedor{

            .experiencias__listadoItems{    
                font-size: 0.75em;
                line-height: 21px;
           }
        }
    }
}

@media only screen and (max-width: 768px){
    .principal{
        
        .principal__prodDestacados{
    
            .principal__verMas{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    section{
        margin-left: 0px;
    }

    .experiencias{
        display: none;
    }

    .inicial{
        width: 75%;
        height: 100vp;
        display: inline-block;
        justify-content: start;
        vertical-align: top;
        margin: 0px;
    }

    .principal{
        margin: 0px;

        .principal__presentacion{
            margin: 10px 0px 0px 0px;

            .principal__parrafoPresentacion{
                line-height: 20px;
                font-size: 1.25em;
    
                .principal__tituloParrafo{
                    font-size: 1.5em;
                }
            }
        }
    }
}