$colorFondo: rgb(115, 250, 115);
$colorRedesSeparadores: rgb(0, 68, 0);
$colorTexto: white;

.inicial{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 80vp;
}

.principal {
    display: flex;
    flex-basis: 75%;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;

    .principal__presentacion{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;

        .principal__contenedorPresentacion{
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: space-between;
            height: 240px;

            .principal__tituloPresentacion{
                width: 100%;
            }

            .principal__contenedorImagenPresentacion{
                height: 100%;
                width: 45%;

                .principal__imagenPresentacion {
                    height: 170px; 
                    width: 100%;
                    display: inline-block;
                    border: 2px white solid;
                    border-radius: 2%;
                }

                .principal__imagenPresentacion:hover{
                    box-shadow: 1px 1px 20px 3px $colorRedesSeparadores;
                    transform: scale(1.05);
                }
            }

            .principal__parrafoPresentacion{
                flex-basis: 50%;
                max-width: 100%;
                text-align: justify;
                line-height: 25px;
                font-size: 1.5em;
                display: inline-block;
                margin: auto;
                background-color: grey;
                padding: 10px;
                border-top-left-radius: 20% 50%;
                border-bottom-right-radius: 20% 50%;

                .principal__tituloParrafo{
                    color: $colorTexto;
                    font-weight: bold;
                    font-size: 1.7em;
                    font-family: 'Kumar One', cursive;
                }
            }
        }

        .principal__contenedorServicios{
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            margin-top: 10px;
            justify-content: space-between;
            height: 240px;

            .principal__contenedorImagenPresentacion{
                order: 2;
                width: 45%;
                height: 100%;
                margin: auto;

                .principal__imagenServicios{
                    width: 100%;    
                    height: 170px;
                    margin-top: 45px;
                    border: 2px white solid;
                    border-radius: 2%;
                }

                .principal__imagenServicios:hover{
                    box-shadow: 1px 1px 20px 3px $colorRedesSeparadores;
                    transform: scale(1.05);
                }
            }

            .principal__parrafoSerivios{
                width: 50%;
                order: 1;
                text-align: justify;
                line-height: 25px;
                font-size: 1.5em;
                display: inline-block;
                background-color: grey;
                border-top-left-radius: 20% 50%;
                border-bottom-right-radius: 20% 50%;
                padding: 15px;
                margin-bottom: auto;

                .principal__tituloParrafo{
                    color: $colorTexto;
                    font-weight: bold;
                    font-size: 1.7em;
                    font-family: 'Kumar One', cursive;
                }
            }
        }
    }

    .principal__prodDestacados{
        width: 60%;
    
        .principal__verMas {
            border: 0px;
            color: $colorTexto;
            font-weight: bold;
            text-align: center;
            font-size: 1.2em;
            height: 40px;
            vertical-align: bottom;
            padding: 8px 0px;
            text-decoration: none;
        }
        
        .principal__verMas a:hover{
            color: $colorTexto;
            opacity: 0.7;
        }
    }
}

.experiencias {
    margin-top: 20px;
    margin-right: 10px;
    flex-basis: 25%;
    flex-grow: 1;

    .experiencias__contenedor{
        position: sticky;
        top: 3%;

        .experiencias__listado{
            padding-left: 5px;
            padding: 5px;
            margin-right: 5px;

            .experiencias__listadoItems{
                border: dashed 4px $colorTexto;
                border-radius: 5%;
                margin: 10px;
                padding: 10px;
                font-size: 1.25em;
                line-height: 28px;
                background-color: $colorRedesSeparadores;
                animation-name: bordeado;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
                animation-duration: 1s;
            
                .experiencias__nombre{
                    color: $colorTexto;
                    font-weight: bold;
                    text-align: center;
                }
                
                .experiencias__descripcion{
                    color:$colorFondo;
                    text-align: justify;
                }
            }   
        }
    }
}

@keyframes bordeado{
    0%{
        border-style:dashed;
    }
    100%{
        border-style: dotted;
    }
}

@media only screen and (max-width: 1024px){
    .principal{
        
        .principal__presentacion{

            .principal__tituloPresentacion{
                width: 100%;
            }

            .principal__contenedorPresentacion{
                height: 200px;

                .principal__contenedorImagenPresentacion{

                    .principal__imagenPresentacion {
                        height: 140px;
                    }
                }

                .principal__parrafoPresentacion{
                    font-size: 1em;    

                    .principal__tituloParrafo--tamaño{
                        font-size: 1.5em;
                    }
                }
            }

            .principal__contenedorServicios{
                height: 200px;
                
                .principal__contenedorImagenPresentacion{

                    .principal__imagenServicios{
                        height: 140px;
                    }                    
                }
                .principal__parrafoSerivios{
                    font-size: 1em;

                    .principal__tituloParrafo--tamaño{
                        font-size: 1.5em;
                    }
                }
            }            
        }
    }

    .experiencias {
    
        .experiencias__contenedor{

            .experiencias__listadoItems{    
                font-size: 0.75em;
                line-height: 21px;
           }
        }
    }
}

@media only screen and (max-width: 768px){
    .principal{

        .principal__presentacion{

            .principal__contenedorPresentacion{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                height: auto;
                width: 100%;
                margin-bottom: 10px;

                .principal__contenedorImagenPresentacion{
                    height: 150px;
                    width: 70%;
                    order: 2;
                    margin-top: 10px;

                    .principal__imagenPresentacion{
                        height: 150px;
                        width: 100%;
                        margin: auto;
                    }
                }

                .principal__parrafoPresentacion{
                    order: 1;
                    border-radius: 3% 3% 3% 3%;
                    width: 95%;
                }

            }

            .principal__contenedorServicios{
                display: flex;
                flex-flow: column nowrap;
                height: auto;
                margin: 0%;

                .principal__contenedorImagenPresentacion{
                    order: 2;
                    width: 70%;
                    height: 150px;

                    .principal__imagenServicios{
                        width: 100%;
                        height: 150px;
                        margin-top: 10px;
                    }
                }

                .principal__parrafoSerivios{
                    order: 1;
                    height: auto;
                    width: 95%;
                    padding: 10px;
                    margin: auto;
                    border-radius: 3% 3% 3% 3%;
                }
            }

        }
        
        .principal__prodDestacados{
    
            .principal__verMas{
                font-size: 1em;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    section{
        margin-left: 0px;
    }

    .experiencias{
        display: none;
    }

    .inicial{
        width: 75%;
        height: 100vp;
        display: inline-block;
        justify-content: start;
        vertical-align: top;
        margin: 0px;
    }

    .principal{
        margin: 0px;

        .principal__presentacion{
            margin: 10px 0px 0px 0px;
            
            .principal__contenedorPresentacion{

                .principal__contenedorImagenPresentacion{
                    width: 95%;
                }
    
                .principal__parrafoPresentacion{
                line-height: 20px;
                font-size: 1.25em;

                    .principal__tituloParrafo{
                        font-size: 1.2em;
                    }
                }
            }

            .principal__contenedorServicios{

                .principal__contenedorImagenPresentacion{
                    width: 95%;
                }
    
                .principal__parrafoSerivios{
                line-height: 20px;
                font-size: 1.25em;

                    .principal__tituloParrafo{
                        font-size: 1.2em;
                    }
                }
            }
        }

        .principal__prodDestacados{
            margin-top: 20px;
        }
    }
}